<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="landing.html" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" subStatusCode="-1" path="/ERRORS/404.html" responseMode="File" />
        </httpErrors>
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
